.k{
          position: relative;
          width: 350px;
          min-height:400px;
          box-shadow:0 5px 15px rgb(255, 255, 255);
          background-color: cyan;
}
body{
          margin-top: 60px;
          background-color:black;
}